.nav-shadow{
    box-shadow: 3px 3px 7px 3px rgba(199, 199, 199, 0.1);
    height:90px;
}
button{
    display:block;
    margin-top:20px;
    border:0;
    box-shadow: 3px 3px 7px 3px rgba(199, 199, 199, 0.2);
    padding: 15px;
    width:80%;
    border-radius:7px;
    font-size:12px;
    
    background-color:white;
}
.content-reg{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.left-content{
    padding-left: 150px;
}
a{
    color: #FFC59E;
    font-weight: 400;
}
button:hover{
    box-shadow: 3px 3px 7px 3px rgba(199, 199, 199, 0.3);
    cursor: pointer;
    color:rgb(206, 201, 201);
    border:1px solid rgb(222, 222, 222);
}
